@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 10% 4%;
    --foreground: 210 4% 90%;
    --card: 216 6% 12%;
    --card-foreground: 210 4% 90%;
    --popover: 216 6% 12%;
    --popover-foreground: 210 4% 90%;
    --primary: 42 59% 64%; /* #d2aa68 */
    --primary-foreground: 210 4% 98%;
    --secondary: 216 6% 24%;
    --secondary-foreground: 210 4% 98%;
    --muted: 216 6% 24%;
    --muted-foreground: 215 6% 55%;
    --accent: 142 71% 45%;
    --accent-foreground: 210 4% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 4% 98%;
    --border: 216 6% 18%;
    --input: 216 6% 18%;
    --ring: 42 59% 64%;
    --chart-1: 120 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 204 10% 4%;
    --foreground: 210 4% 90%;
    --card: 216 6% 12%;
    --card-foreground: 210 4% 90%;
    --popover: 216 6% 12%;
    --popover-foreground: 210 4% 90%;
    --primary: 42 59% 64%; /* #d2aa68 */
    --primary-foreground: 210 4% 98%;
    --secondary: 216 6% 24%;
    --secondary-foreground: 210 4% 98%;
    --muted: 216 6% 24%;
    --muted-foreground: 215 6% 55%;
    --accent: 142 71% 45%;
    --accent-foreground: 210 4% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 4% 98%;
    --border: 216 6% 18%;
    --input: 216 6% 18%;
    --ring: 42 59% 64%;
    --chart-1: 120 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
