@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 220 14% 90%;
    --card: 0 0% 14%;
    --card-foreground: 220 14% 90%;
    --popover: 0 0% 14%;
    --popover-foreground: 220 14% 90%;
    --primary: 45 61% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 14%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 14%;
    --muted-foreground: 220 4% 62%;
    --accent: 0 0% 14%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 23%;
    --input: 0 0% 23%;
    --ring: 45 61% 50%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 215 8% 90%;
    --card: 0 0% 14%;
    --card-foreground: 215 8% 90%;
    --popover: 0 0% 14%;
    --popover-foreground: 215 8% 90%;
    --primary: 45 61% 50%;
    --primary-foreground: 45 61% 10%;
    --secondary: 0 0% 14%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 14%;
    --muted-foreground: 220 4% 62%;
    --accent: 0 0% 14%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 23%;
    --input: 0 0% 23%;
    --ring: 45 61% 50%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
